.checkbox {
  cursor: pointer;
  transition: color 0.2s, background 0.2s;
}

.checked {
  color: var(--purple-dark);
}

.checked:hover {
  color: var(--purple);
}

.notChecked {
  color: var(--blue);
}

.notChecked:hover {
  color: var(--blue-dark);
}